@font-face{
    font-family: 'Determination-Mono';
    src: url('determinationmonoweb-webfont.ttf');
}
.monster-text {
  position: relative;
  font-family: 'MonsterFriend', sans-serif;
  color: black;
  font-size: 80px;
  z-index: 3;
}
.monster-text::before {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'MonsterFriend-Center';
  color: yellow;
  z-index: 2;
}
.monster-text::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'MonsterFriend-Back';
  color: red;
  z-index: 1;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(rgba(45, 4, 34, 0.7)), url('background.gif');
    background-color: rgb(13, 4, 46);
    padding-top: 100px;
    margin: 5px;
    background-attachment: fixed;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    height: 100px;
    background-color: black;
    float: left;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header h1, nav{
    margin: 0 10px 0 10px;
}
a{
    font-family: 'Determination-Mono';
    text-align: center;
    background-color: rgb(50, 50, 52);
    display: inline-block;
    min-width: 100px;
    width: auto;
    text-decoration: none;
    color: rgb(255, 137, 3);
    font-size: 23px;
    transition: font-size 1s;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 2px;
}
a:hover{
    color: rgb(255, 204, 84);
    font-size: 33px;
}
aside{
    width: 20%;
    height: auto;
    float: left;
}
.Main{
    width: 80%;
    height: auto;
    background-color: black;
    float: left;
}
footer{
    background-color: black;
    left: 0;
    right: 0;
    width: auto;
    height: 5%;
    clear: both;
    text-align: right;
    margin: 5px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}
p{
    color: white;
}
h1{
    color: white;
}
